body {
   margin-left:10px;
   width: 800px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}
form, div, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
table {
      border: 0;
      }

td, th, p, div, span {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px
}
a, a:link, a:visited, a:active, a:focus {
	color: #FF3300;
	text-decoration: none
}
a:hover {
	color: #FF3300;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
}
h1 {
	margin-bottom: 12px;
	font-size: 14px;
	font-weight: bolder;
	color: #000000;
	line-height: 160%;
	background: #eeeeee;
}
h3 {
	margin-top: 12px;
	margin-bottom: 6px;
	font-size: 13px;
	font-weight: bold;
	color: #335577;
}

hr {
   margin-left:0;
   width: 800px;
   height: 1px;
   background-color: #A0A0A0;
   border: none;
   color: #A0A0A0;
}
