/* CSS Document */
body {
	max-width: 1000px;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	text-align: left;
}
form, td, th, p, div, span {
	font-family: inherit;
}
table {
	border: 0;
}
td {
	padding: .2rem 0 .2rem 0; 
}
a, a:link, a:visited, a:active, a:focus {
	margin: 0;
	color: #212529;
	background-color: #fff78f;
	border-radius: .45rem;
	padding: 0 .45rem 0 .45rem;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* Gelber Button */
h1 {
	font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 600;
	margin-left: -12px;
	display: inline-block;
	color: #333;
	background-color: #fff78f;
	border-color: #fff78f;
	border-radius: .65rem;
	border: 1px solid transparent;
	padding: .625rem .75rem;
}
hr {
	margin-left: 0;
	width: 1000px;
	height: 0.5px;
	background-color: #c9c9c9;
	border: none;
	color: #A0A0A0;
}
.versionText {
	font-size: 1.2rem;
	font-weight: 400;
	font-style: italic;
}
.uri {
	font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: #495057;
	padding: .375rem .75rem;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.copyright {
	font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	display: block;
	color: #ffffff;
	text-align: center;
	margin-top: 30px;
	background-color: #4a4a4a;
	padding: 45px 45px 90px 45px;
}
.copyright a, .copyright a:hover {
	display: block;
	color: #ffffff;
	text-align: center;
	background-color: #4a4a4a;
	border-color: #4a4a4a;
}
/* Buttons */
.btn {
	font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	color: #333;
	background-color: #fff78f;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	border-color: #fff78f;
	border-radius: .65rem;
	cursor: pointer;
	user-select: none;
}
.btn:hover {
	background-color: #faeb61;
	border: 1px solid transparent;
	border-color: #fff78f;
}
*:focus {
	outline: none;
}
#file-chosen {
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	vertical-align: -10%;
	font-family: "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
/* Input Field */
.form-control {
	font-size: 1rem;
	color: #495057;
	padding: .375rem .75rem;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.form-control:focus {
	border-color: #faeb61;
}
/* local Fonts */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/merriweather-v19-latin-regular.eot");
	src: local("Merriweather Regular"), local("Merriweather-Regular"), url("./fonts/merriweather-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/merriweather-v19-latin-regular.woff2") format("woff2"), url("./fonts/merriweather-v19-latin-regular.woff") format("woff"), url("./fonts/merriweather-v19-latin-regular.ttf") format("truetype"), url("./fonts/merriweather-v19-latin-regular.svg#Merriweather") format("svg")
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/merriweather-v19-latin-700.eot");
	src: local("Merriweather Bold"), local("Merriweather-Bold"), url("./fonts/merriweather-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/merriweather-v19-latin-700.woff2") format("woff2"), url("./fonts/merriweather-v19-latin-700.woff") format("woff"), url("./fonts/merriweather-v19-latin-700.ttf") format("truetype"), url("./fonts/merriweather-v19-latin-700.svg#Merriweather") format("svg")
}
